.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: aliceblue;
    border-radius: 10px;
    padding: 30px 30px ;
    border: 2px solid #333;
}

.input-container {
    display: flex;
    flex-direction:row;
    justify-content: center;
    align-items: center;

    gap : 10px;
}

.input {
    width: 250px;
    height: 30px;
    border: 1px solid #333;
}

.output-container {
    display: none;
}

.character-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    margin-top: 20px;
    width: 100%;
}

.button {
  background-color: aqua;
}

.speech-bubble {
  position: relative;
  background: #ffffff;
  border: 1px solid #333;
  border-radius: 20px;
  padding: 15px 25px;
  
  width: 250px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;

  text-align: center;
  box-shadow: 3px 3px 0px rgba(0,0,0,0.1);
  margin-bottom: 20px; 
  box-sizing: border-box;
}

.speech-bubble::before {
  content: '';
  position: absolute;
  bottom: -14px; 
  left: 50%;
  transform: translateX(-50%);
  border-width: 14px 12px 0; 
  border-style: solid;
  border-color: #333 transparent transparent; 
  z-index: 1;
}

.speech-bubble::after {
  content: '';
  position: absolute;
  bottom: -12px;
  left: 50%;
  transform: translateX(-50%);
  border-width: 12px 10px 0;
  border-style: solid;
  border-color: #fff transparent transparent; 
  z-index: 2;
}

.character-img {
  width: 200px !important; 
  display: block;
}