button {
  padding: 5px 15px;
  width: 100px;
  height: 40px;
  border: 1px solid #333;
  cursor: pointer;
  transition: all 0.2s ease;
}

button:hover {
  filter: brightness(1.1);
  transform: translateY(-2px);
}

button:active {
  transform: scale(0.92); 
}